.campaign {
    border: 1px solid var(--gray-1);
    border-radius: 4px;

    &.campaign--new {
        .form {
            padding: 16px;
        }
    }

    .campaign__header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid var(--gray-1);

        .header__name {
            margin: 0 16px 0 0;
        }

        .header__actions {
            margin-left: auto;
        }
    }

    .campaign__container {
        padding: 16px;

        .container__header {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            .container__button {
                margin-left: auto;
            }
        }

        .chapters__list {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 16px;
        }
    }
}
