:root {
    /* Header */
    --header-background: #fff;
}

.header {
    position: fixed;
    display: grid;
    grid-template-columns: minmax(200px, 300px) auto;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    padding-right: 16px;
    background: var(--header-background);
    border-bottom: 1px solid var(--gray-1);

    .header__logo {
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
            padding-left: 16px;
            font-family: var(--font-heading);
            font-size: var(--font-size--biggest);
            font-weight: 900;
        }
    }

    .header__content {
        display: flex;
        align-items: center;

        .header__campaign {
            margin-left: 16px;

            h4 {
                margin: 0;
            }
        }

        .header__nav {
            height: 100%;
            margin-left: auto;

            .header__ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;

                > li > button,
                > li > a {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    padding: 0 16px;
                }

                .header__username {
                    display: inline-flex;
                    align-items: center;
                    height: 100%;
                    margin-right: 16px;
                }
            }
        }
    }
}
