.notes {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    background-color: var(--gray-1);

    h3 {
        margin: 16px 0;
    }
}

.note {
    padding: 16px;
    margin-bottom: 8px;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: var(--shadow-1);
    transition: box-shadow 0.2s ease-in-out;

    &:focus-within {
        box-shadow: var(--shadow-4);
    }

    textarea {
        resize: none;
        width: 100%;
        min-height: 128px;
        padding: 0;
        font-size: var(--font-size--normal);
        line-height: var(--font-size--big);
        border: 0;

        &:focus {
            outline: 0;
        }
    }
}

.notes__placeholder {
    margin-top: 16px;
    text-align: center;
    color: var(--gray-4);
}
